<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Cadastro</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/cadastro.css" />
  <link rel="website icon" type="" href="../img/img-aguia-removebg-preview.png">
</head>

<body>
  <header class="cabecalho">
    <ul>
      <li class="cabecalho_lista_listas">
        <a href="./cadastro.html">Cadastro</a> 
      </li>
      <li class="cabecalho_lista_listas">
        <a href="./login.html" target="_blank">Login</a>
      </li>
      <li class="cabecalho_lista_listas">
        <a href="./home.html" target="_blank">Home</a>
      </li>
      <li class="cabecalho_lista_listas">
        <a href="../index.html" target="_blank">Inicio</a>
      </li>
    </ul>
  </header>
  <main>
    <div class="main__form">
      <form class="formulario" action="" method="">
        <div class="imagem">
          <img class="imagem-img" src="../img/aguia-logo.png" alt="Aguia">
          <h3>CADASTRO</h3>
        </div>
        <div class="inputs">
          <label class="rotulo" for="Name">
            Nome:
            <input class="entrada" type="text" name="name" id="name" placeholder="Digite seu nome"/>
          </label>
          <label class="rotulo" for="email">Email:
            <input class="entrada" type="email" name="email" id="email" placeholder="Digite seu email" />
          </label>
          <label class="rotulo" for="password">Senha:</label>
          <input class="entrada" type="password" name="password" id="password" placeholder="Digite 6 caracteres" maxlength="8" minlength="6"/>
          <label class="rotulo" for="cpf_cnpj">CPF/CNPJ:
            <input class="entrada" type="text" name="cpf_cnpj" placeholder="Digite seu CPF/CNPJ" id="cpf-cnpj" />
          </label>
          <label class="rotulo" for="birthday">Data de nascimento:
            <input class="entrada" type="date" name="data_nascimento" id="date"  />
          </label>
          <label class="Termos" for="terms">Termos:
            <input type="checkbox" name="Termos" id="terms"/>
          </label>
          <input class="botao" type="button" value="Enviar" onclick="cadastro()" id="botao-input" />
        </div>
      </form>
    </div>
  </main>
  <script src="../script/cadastro.js"></script>
</body>

</html>